/* --- stylesheet --- */


/*  HTML */

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: Arial;
}

body {
  width: 100%;
  background-image: url(images/body1.png);
}

a {
  text-decoration: none;
  color: #fff;
}

/* ----------------------*/

/*  Navbar */

.wrapper {
  margin: 0 auto;
  font-style: arial;
}

.navBar {
  background: #222629;
  height: 70px;
  width: 0 auto;
}

.wrapper li{
  float: right;
  list-style-type: none;
  text-decoration: none;
  padding: 20px 26px 20px 11px;
  font-size: 20px;
}

.wrapper li a:hover{
  color: #86c232;
  font-size: 22px;
  transition: .5s;
}

/* ----------------------*/

/*  Header  */

.container {
  width: 800px;
  height: 450px;
  margin: 100px auto;
  background: #474b4f;
  position: relative;
  text-align: center;
  border: 2px solid #86c232;
  box-shadow: 4px 4px 35px #000;
}

/* ----------------------*/

/* Image */

img{
  transform: rotate(90deg);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 20px;
}

/* ----------------------*/

/*  body */

.container h1{
  margin: 0;
  padding-top: 35px;
  font-family: Arial;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #86c232;
}

.container p{
  text-align: center;
  position: relative;
  padding: 15px;
  color: #fff;
  font-size: 20px;

}

/* ----------------------*/

/*  Portolio page */

.container2{
  width: 0 auto;
  height: 0 auto;
  background-color: #474b4f ;
}

.container2 h2, h3{
  color: #86c232;
}

.container2 p{
  color: #fff;
}

.container2 h2{
  padding: 35px 20px 20px 20px;
  font-size: 2em;
  text-align: center;
}

.container2 h3{
  padding: 35px 20px 20px 20px;
  font-size: 2em;
  text-align: center;
}

.container2 p{
  padding: 10px 10px 40px 10px;
  font-size: 15px;
  text-align: center;
}

.about{
  width: 800px;
  height: 120px;
  margin-top: 20px;
  margin: 0 auto;
  background-color: #6b6e70;
}

.about p{
  font-size: 20px;
  text-align: left;
  padding: 20px;
}

/* ----------------------*/

/* contact page */

.container3{
  width: 0 auto;
  height: 0 auto;
  margin: 0 auto;
  background-color: #474b4f;
}

.container3 h1{
  font-size: 3em;
  color: #86c232;
  text-align: center;
  padding: 20px;
}

.container3 p{
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 30px;
}

strong{
  color: #86c232;
}

/* ----------------------*/

/* Footer */

footer{
  background: #222629;
  height: 50px;
  width: 0 auto;
}

footer p{
  text-align: right;
  color: #61892f;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

/* Media Queries */
